<div class="lista">
    <ul>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Borrador </p>
             <p> <span> $800 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Pincel </p>
             <p> <span> $3000 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Difumino </p>
             <p> <span> $3000 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Portaminas </p>
             <p> <span> $2800 </span> <a> Añadir al carrito </a> </p>
        </li>
    </ul>
    <ul>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Cuaderno </p>
             <p> <span> $5000 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
            <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Pintura) </p>
             <p> <span> $2800 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
            <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Rapidografo </p>
             <p> <span> $7000 </span> <a> Añadir al carrito </a> </p>
        </li>
        <li>
             <img src = "#" alt = "#" width = "200px" height = "200px" />
             <p class = "producto"> Lapiz </p>
             <p> <span> $1200 </span> <a> Añadir al carrito </a> </p>
        </li>
    </ul>
</div>